.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}
.loginbuttt {
  margin-bottom: 2rem;
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
