.headtop {
  display: flex;
  flex-direction: column;
}

.headerrrrr {
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.bseeee,
.nseeee {
  font-size: 1rem;
  padding: 8px 35px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  cursor: pointer;
}

.bseeee {
  margin-left: 1rem;
}

.nifty50header {
  color: black;
  font-size: 1.75rem;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 8px solid #e4f2f4;
  border-radius: 2px;
}

.stockvaluee {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  border-bottom: 1px dashed #adadad;
}

.leftsidestock,
.rightsidestock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin-top: 1rem;
}

.leftsidestock {
  height: 20vh;
}

.rightsidestock {
  height: 40vh;
  /* border-bottom: 1px solid #adadad; */
}

.nifty50value1 {
  color: rgba(0, 0, 0, 0.779);
  font-size: 3.5rem;
  margin-top: 1rem;
  font-weight: 700;
}

.nifty50value2 {
  color: #39a97c;
  font-size: 2rem;
  margin-top: 0.75rem;
  font-weight: bold;
}

.greenuparrow {
  border-bottom: 10px solid #39a97c;
  margin-right: 5px;
  vertical-align: middle;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  display: inline-block;
}

.datestock {
  color: #868686;
}

.valuesssss {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.valuesssss1 {
  display: flex;
  flex-direction: row;
}

.percentttt {
  color: #39a97c;
  margin-left: 1rem;
  font-size: 1.25rem;
}

.toppppheaddd {
  font-weight: 600;
  font-size: 1rem;
  color: #787878;
}
.firstvalue,
.secondvalue {
  color: black;
  font-size: 1.25rem;
}
.firstvalue1 {
  color: red;
  font-size: 1rem;
}

.secondvalue1 {
  color: #39a97c;
  font-size: 1rem;
}

.selectoptionsss {
  border: none;
  font-size: 1rem;
  color: black;
  cursor: pointer;
}

.bottompage {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #adadad;
  border-bottom: 1px solid #adadad;
}

.overvieeewww {
  color: black;
  font-size: 1rem;
  cursor: pointer;
}

.charrrtttt {
  color: black;
  font-size: 1rem;
  margin-left: 2rem;
  cursor: pointer;
}

.overviewvalues {
  display: flex;
  flex-direction: column;
}

.firstrowww,
.secondrowww,
.thirdrowww,
.firstrowleft,
.firstrowright,
.secondrowleft,
.secondrowright,
.thirdrowleft,
.thirdrowright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.firstrowleft,
.firstrowright,
.secondrowleft,
.secondrowright,
.thirdrowleft,
.thirdrowright {
  border-bottom: 1px dashed #adadad;
  width: 45%;
}

.firstrowww,
.secondrowww,
.thirdrowww {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* .firstrowleft,
.secondrowleft,
.thirdrowleft {
  margin-right: 3rem;
}
.firstrowright,
.secondrowright,
.thirdrowright {
  margin-left: 3rem;
} */
